:root {
    --primary-color: #FFFFFF;
    --primary-color-text: #434455;
    --accent-text-color: #4D5AE5;
    --second-background-title: #2E2F42;
    --active-color: #404BBF;
    --additional-color:#F4F4FD;
}

/* глобальные стили */
body {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;   
}

/* класс для сброса св-в, заданных по умолчанию */
.reset {
    list-style: none;
    text-decoration: none;
}

/* стили navigation */
.logo {
    color: var(--accent-text-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.03em;
}

.logo .nav-span {
    color: var(--second-background-title);
}

.site-nav {
    color: var(--second-background-title);
    font-weight: 500;
}
.site-nav:hover,
.site-nav:focus {
    color: var(--accent-text-color);
}

.contacts {
    color: var(--primary-color-text);
}
.contacts:hover,
.contacts:focus {
    color: var(--accent-text-color);
}

/* стили hero */
.hero {
    background-color: var(--second-background-title);
}

.hero-title {
    color: var(--primary-color);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;  
}

.hero-button {
    color: var(--primary-color);
    background-color: var(--accent-text-color);
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.hero-button:hover,
.hero-button:focus {
    background-color:var(--active-color);
}

/* cтили section */
.hide {
    /* как правтльно скрыть заголовок, чтобы читалка видела, а пол-ль нет и на версту не влиял? */
    opacity: 0;
    /* или display: none; ?*/
    padding: 0;
    margin: 0;
}

.sectionOne-title,
.sectionTwo-title,
.sectionTeam-title {
    color: var(--second-background-title);
}

.sectionOne-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em; 
}

.sectionTwo-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize; 
}

.sectionTeam {
    background-color: var(--additional-color);
}

.sectionTeam-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize; 
}

/* cтили footer */
.footer {
    background-color: var(--second-background-title);
}

.logo .footer-span {
    color: var(--additional-color);
}

.footer p {
    color: #E7E9FC;
}


/* Portfolio */
/* стили filters */
.btn-filters {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    border:none;
}

.btn-filters {
    background-color: var(--additional-color);
    color: var(--accent-text-color); 
}
.btn-filters:hover,
.btn-filters:focus {
    cursor: pointer;
    background-color: var(--active-color);
    color: var(--primary-color);
}

/* стили списка картинок */
.pictures-title {
    color: var(--second-background-title);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em; 
}

.pictures-text {
    color: var(--primary-color-text);
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em; 
}

.card:hover,
.card:focus {
    outline: 1px solid var(--accent-text-color);
}