:root {
    --primary-color: #FFFFFF;
    --primary-color-text: #434455;
    --accent-text-color: #4D5AE5;
    --second-background-title: #2E2F42;
    --active-color: #404BBF;
    --additional-color:#F4F4FD;
    --border-color-header: #E7E9FC;

    --animation-time: 250ms;
    --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* глобальные стили */
body {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;   
}

/* правила для сброса св-в, заданных по умолчанию */
.reset {
    list-style: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
ul,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

/* класс для скрытия заголовков, которые введены для семантики */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} 

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.container.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 15px 22px 15px;
}

@media screen and (max-width: 767px) {
    .nav-pages,
    .list-contacts,
    .icon-solutions,
    .sectionTwo {
        display: none;
    }

}

@media screen and (max-width: 1439px) {
    .tumba-icon-solutions,
    .sectionTwo {
        display: none;
    }

}

.mobile-menu-open-icon {
    width: 32px;
    height: 22px;
}

.btn-mobile-menu {
    width: 32px;
    height: 22px;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color:transparent;
}
    
.logo {
    color: var(--accent-text-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.03em;
}

.logo .nav-span {
    color: var(--second-background-title);
}

.hero-button {
    display: inline-block;
    color: var(--primary-color);
    background-color: var(--accent-text-color);
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
        letter-spacing: 0.04em; 
    text-align: center;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color var(--animation-time) var(--animation-function);
    /* почему высота кнопки 52.48, а в макете 56? */
    } 

.hero-button:hover,
.hero-button:focus {
    background-color:var(--active-color);
}

/*!  -------------------выезжающее мобильное меню---------------------------- */
.container.mobile-menu-container {
    position: relative;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
}

.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;

    opacity: 1;
    transition: opacity var(--animation-time) var(--animation-function);
}

.mobile-menu.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.bnt-close {
    position: absolute;
    padding: 0;
    border: none;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--border-color-header);
    transition: background-color var(--animation-time) var(--animation-function);
}

.bnt-close:hover,
.bnt-close:focus {
    background-color: var(--active-color);
}

.icon-close {
    width: 8px;
    height: 8px;
    margin: 8px;
    fill: #000000;
    transition: fill var(--animation-time) var(--animation-function);
}

.bnt-close:hover .icon-close,
.bnt-close:focus .icon-close {
    fill: var(--primary-color);
} 

.mobile-menu-list-pages-link {
    color: var(--second-background-title);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;

    transition: color var(--animation-time) var(--animation-function);
}

.mobile-menu-list-pages-link:hover,
.mobile-menu-list-pages-link:focus {
    color: var(--accent-text-color);
}

.mobile-menu-list-pages > li:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-list-pages {
    margin-bottom: 284px;
}

.mobile-menu-list-contacts {
    margin-bottom: 48px;
}

.contacts-tel {
    display: block;
    color: var(--accent-text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    margin-bottom: 40px;
}

.contacts-mail {
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--primary-color-text);
    transition: color var(--animation-time) var(--animation-function);
}

.contacts-mail:hover,
.contacts-mail:focus {
    color: var(--accent-text-color);
}

.mobile-menu-list-social {
    display: flex;
    align-items: center;
}

.mobile-menu-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F4F4FD;
    transition: background-color var(--animation-time) var(--animation-function);
}

.mobile-menu-icon {
    width: 24px;
    height: 24px;
    fill: var(--primary-color); 
}

.mobile-menu-link-icon:hover,
.mobile-menu-link-icon:focus {
    background-color: var(--active-color);
}


.mobile-menu-list-social > li:not(:first-child) {
    margin-left: 56px;
}

.active {
    color: var(--accent-text-color);
}

/*!  -------------------END выезжающее мобильное меню---------------------------- */

@media screen and (min-width: 428px) {
    .container {
        width: 426px;
        margin-left: auto;
        margin-right: auto;
    }
}
    .hero {
        padding-top: 112px;
        padding-bottom: 112px; 
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../img/people-office-mobile.jpg");
        margin-left: auto;
        margin-right: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        background-color: var(--second-background-title);
    }

    .hero-title {
        width: 320px;
        margin: 0 auto 72px;
        color: var(--primary-color);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        text-transform: capitalize;
    }

    .sectionOne {
        padding: 96px 16px;
    }

    .list-solutions > li:not(:last-child) {
        margin-bottom: 72px;
    }

    .sectionOne-title {
        text-align: center;
        margin-bottom: 8px;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        color: var(--second-background-title);
    }

    .sectionOne p {
        font-weight: 500;
    }

    .sectionTeam {
        text-align: center;
        background-color: var(--additional-color);
    }
    
    .container.team {
        padding: 96px 82px;
    }

    .tumba-person {
        width: 264px;
        margin-left: auto;
        margin-right: auto;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
        overflow: hidden;
    }

    .sectionTeam-title {
        text-align: center;
        color: var(--second-background-title);
        margin-bottom: 72px;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-transform: capitalize; 
    }

    .card-content {
        padding-top: 32px;
        padding-bottom: 32px;
        background-color: var(--primary-color);
    }

    .sectionTeam-name {
        margin-bottom: 8px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em; 
    }

    .list-social {
        display: flex;
        margin-top: 8px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 24px;
    }
    
    .link-icon-team {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--accent-text-color);
        transition: background-color var(--animation-time) var(--animation-function);
    }
    
    .icon-social-team {
        width: 16px;
        height: 16px;
        fill: var(--primary-color);
    }
    
    .link-icon-team:hover,
    .link-icon-team:focus {
        background-color: var(--active-color);
    }

    .container.customers {
        padding: 96px 15px;
    }

    .sectionCustomers-title {
        text-align: center;
        margin-bottom: 72px;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-transform: capitalize; 
    }

    .tumba-icon-customer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 190px;
        height: 88px;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        transition: border var(--animation-time) var(--animation-function);
    }
    
    .icon-customers {
        width: 110px;
        height: 56px;
        fill: #8e8f99;
        transition: fill var(--animation-time) var(--animation-function);
    }
    
    .tumba-icon-customer:hover,
    .tumba-icon-customer:focus {
        border: 1px solid var(--active-color);
    } 
    
    .tumba-icon-customer:hover .icon-customers,
    .tumba-icon-customer:focus .icon-customers {
        fill: var(--active-color);
    }

    .list-customers {
        display: flex;
        flex-wrap: wrap;
    }

    .list-customers > .list-customers-tumba {
        margin-right: 16px;
        flex-basis: calc((100%  / 2) - 16px );
        margin-top: 0;
    }

    .list-customers > .list-customers-tumba:nth-child(even) {
        margin-right: 0;
    }

    .list-customers > .list-customers-tumba:nth-child(n+3) {
        margin-top: 72px;
    }

    .footer {
        background-color: var(--second-background-title);
    }

    .container.footer-flex {
        padding: 96px 15px;
    }

    .footer-content {
        padding-left: 65px;
        padding-right: 65px;
        margin-bottom: 72px;
    }

    .logo {
        display: block;
        text-align: center;
    }

    .logo .footer-span {
        color: var(--additional-color);
    }
    
    .text-footer-webstudio {
        margin-top: 16px;
        color: var(--border-color-header);
    }

    .footer-icon {
        width: 208px;
        margin-left: 95px;
        margin-bottom: 72px;
    }

    .footer-icon > p {
        text-align: center;
        margin-top: 0;
        margin-bottom: 16px;
        color: var(--primary-color);
        font-weight: 500;
    }

    .icon-footer {
        display: flex;
    }

    .icon-social {
        width: 24px;
        height: 24px;
        fill: var(--primary-color);
    }
    
    .icon-footer > li:not(:first-child) {
        margin-left: 16px;
    }
    
    .link-icon {
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color var(--animation-time) var(--animation-function);
    }
    
    .link-icon:hover,
    .link-icon:focus {
        background-color: #31D0AA;
    }

    .footer-form {
        margin-left: auto;
    }
    
    .footer-form > p {
        text-align: center;
        margin-top: 0;
        margin-bottom: 16px;
        color: var(--primary-color);
        font-weight: 500;
    }

    .footer-input {
        width: 100%;
        margin: 0;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        margin-bottom: 16px;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em; 
        background-color: var(--second-background-title);
        color: rgba(255, 255, 255, 0.6); 
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
    }
    
    .btn-footer {
        display: flex;
        margin-left: 116px;
        width: 165px;
        height: 40px;
        padding: 8px 24px;
        align-items: center;
        color: var(--primary-color);
        font-weight: 500;
        letter-spacing: 0.04em; 
        border: none;
        border-radius: 4px;
        background-color: var(--accent-text-color);
        cursor: pointer;
        transition: background-color var(--animation-time) var(--animation-function);
    }
    
    .btn-footer:hover,
    .btn-footer:focus {
        background-color:var(--active-color);
    }
    
    .icon-footer-form {
        width: 24px;
        height: 24px;
        margin-left: 16px;
    }
    
    .icon-send {
        width: 24px;
        height: 20px;
    }
    


/*! ----------------Tablet---------------------- */

@media screen and (min-width: 768px) {
    .container {
        width: 766px;
    }

    .container.header {
        padding: 16px 15px;
    }

    .btn-mobile-menu {
        display: none;
    }

    .list-nav {
        display: flex;
    }

    .nav-pages {
        display: flex;
        margin-left: 76px;
    }
    
    .nav-pages > li:not(:first-child) {
        margin-left: 40px;
    } 

    .site-nav {
        position: relative;
        color: var(--second-background-title);
        font-weight: 500;
    
        transition: color var(--animation-time) var(--animation-function);
    }
    
    .site-nav:hover,
    .site-nav:focus {
        color: var(--accent-text-color);
    }
    
    .active {
        color: var(--accent-text-color);
    }
    
    .active::after {
        display: block;
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        top: 46px;
        border-radius: 2px;
        background-color: var(--active-color);
    }

    .contacts {
        color: var(--primary-color-text);
        transition: color var(--animation-time) var(--animation-function);
    }
    .contacts:hover,
    .contacts:focus {
        color: var(--accent-text-color);
    }

    .hero {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../img/people-office-tablet.jpg");
    }

    .hero-title {
        width: 496px;
        margin: 0 auto 36px;
        font-size: 56px;
        line-height: 1.07;
    }

    .list-solutions.reset {
        display: flex;
        flex-wrap: wrap;
    }
    
    .list-solutions .sectionOne-card {
        margin-right: 24px;
        flex-basis: calc((100%  / 2) - 24px );
        margin-top: 0;
    }

    .list-solutions > li:not(:last-child) {
        margin-bottom: 0;
    } 

    .list-solutions > li:nth-child(2n+2) {
        margin-right: 0;
    }

    .list-solutions > li:nth-child(n+3) {
        margin-top: 72px;
    }

    .sectionOne-title {
        text-align: start;
    }

    .container.team {
        padding: 96px 108px;
    }

    .list-team.reset {
        display: flex;
        flex-wrap: wrap;
    }
    
    .list-team .tumba-person {
        margin-right: 24px;
        flex-basis: calc((100%  / 2) - 24px );
        margin-top: 0;
    }

    .list-team > li:not(:last-child) {
        margin-bottom: 0;
    } 

    .list-team > li:nth-child(2n+2) {
        margin-right: 0;
    }

    .list-team > li:nth-child(n+3) {
        margin-top: 64px;
    }
 
    .container.customers {
        padding-top: 96px;
        padding-bottom: 96px;
        padding-left: 107px;
        padding-right: 107px;
    }

    .tumba-icon-customer,
    .list-customers-tumba {
        width: 168px;
    }

    .list-customers > .list-customers-tumba {
        margin-right: 24px;
        flex-basis:auto;
    }

    .list-customers > .list-customers-tumba:nth-child(even) {
        margin-right: 24px;
    }

    .list-customers > .list-customers-tumba:nth-child(n+3) {
        margin-top: 0;
    }

    .list-customers > .list-customers-tumba:nth-child(3n+3) {
        margin-right: 0;
    }

    .list-customers > .list-customers-tumba:nth-child(n+4) {
        margin-top: 72px;
    }

    .container.footer-flex {
        padding: 96px 164px 96px 108px;
    }

    .foter-content-icon {
        display: flex;
    }

    .footer-icon {
        height: 80px;
        margin-left: 24px;
    }

    .footer-content {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 72px;
    }

    .logo {
        display: block;
        text-align: left;
    }

    .footer-icon > p {
        text-align: left;
    }

    .footer-form > p {
        text-align: left;
    }
 
    .input-btn {
        display: flex;
        justify-content: start;
    }
    
    .footer-input {
        width: 264px;
    }

    .btn-footer {
        margin-left: 24px;
    }
}

/*! -------------------Desktop---------------------- */
@media screen and (min-width: 1440px) {
    .container {
        width: 1158px;
    }

    .active::after {
        top: 34px;
    }

    .list-contacts {
        display: flex;
        margin-left: auto;
    }
    
    .list-contacts > li:not(:first-child) {
        margin-left: 40px;
    } 

    .hero {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../img/people-office.jpg");
        height: 600px;
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px; 
    }

    .hero-title {
        margin: 0 auto 48px;
    }

    .sectionOne {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .list-solutions {
        display: flex;
    }

    .list-solutions.reset {
        flex-wrap: nowrap;
    }

    .list-solutions > li:not(:first-child) {
        margin-left: 24px;
    }

    .list-solutions .sectionOne-card {
        margin-right: 0;
    }

    .list-solutions > li:nth-child(n+3) {
        margin-top: 0;
    }

    .tumba-icon-solutions {
        display: flex;
        height: 112px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background-color: var(--additional-color);
    }
    
    .icon-solutions {
        width: 64px;
        height: 64px;
    }

    .sectionOne-title {
        color: var(--second-background-title);
        margin-bottom: 8px;
        margin-top: 8px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em; 
    }

    .sectionOne p {
        font-weight: 400;
    }

    .sectionTwo-title {
        color: var(--second-background-title);
    }

    .list-img {
        display: flex;
    }

    .list-img > li:not(:first-child) {
        margin-left: 24px;
    }

    .sectionTwo {
        padding-bottom: 120px;
    }
    
    .sectionTwo-title {
        text-align: center;
        margin-bottom: 72px;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.02em; 
        text-transform: capitalize; 
    }

    .container.team {
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .list-solutions.reset {
        display: flex;
        flex-wrap: nowrap;
    }

    .list-team .tumba-person {
        flex-basis:auto;
    }

    .tumba-person {
        margin-left: 0;
    }

    .list-team .tumba-person {
        margin-right: 0;
    }

    .list-team > li:nth-child(n+3) {
        margin-top: 0;
    }

    .list-team > li:not(:first-child) {
        margin-left: 24px;
    }

    .sectionCustomers {
        text-align: center;
        padding-top: 130px;
        padding-bottom: 120px;
    }

    .container.customers {
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .list-customers > .list-customers-tumba:nth-child(3n+3){
        margin-right: 0;
    }

    .list-customers > .list-customers-tumba:nth-child(n+4){
        margin-top: 0;
    }

    .list-customers > .list-customers-tumba:nth-child(:last-child) {
        margin-right: 0;
    }

    .list-customers > .list-customers-tumba:nth-child(3) {
        margin-right: 24px;
    }

    .container.footer-flex {
        display: flex;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 15px;
    }

    .footer-content {
        width: 264px;
        margin-bottom: 0;
    }

    .footer-icon {
        margin-left: 120px;
        margin-bottom: 0;
    }

    .footer-form {
        margin-left: 80px;
    }

    .footer-input {
        margin-bottom: 0;
    }
}

/*! модальное окно */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 1;
    transition: opacity var(--animation-time) var(--animation-function);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    min-width: 408px;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);

    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--animation-time) var(--animation-function);
}

.backdrop.is-hidden .modal {
    transform: translateX(-50%) scale(0.5);
}

.bnt-close {
    position: absolute;
    padding: 0;
    border: none;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--border-color-header);
    transition: background-color var(--animation-time) var(--animation-function);
}

.bnt-close:hover,
.bnt-close:focus {
    background-color: var(--active-color);
}

.icon-close {
    width: 8px;
    height: 8px;
    margin: 8px;
    fill: #000000;
    transition: fill var(--animation-time) var(--animation-function);
}

.bnt-close:hover .icon-close,
.bnt-close:focus .icon-close {
    fill: var(--primary-color);
}

.modal-text {
    display: block;
    margin-bottom: 16px;
    text-align: center;
    color: var(--second-background-title);
    font-weight: 500;
}

.modal-form-field {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 8px;
}

.modal-form-label {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    margin-bottom: 4px; 
}

.modal-form-input {
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 38px;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border var(--animation-time) var(--animation-function);
}

.btn-modal {
    width: 169px;
    padding: 16px 32px;
    margin-left: 95px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--primary-color);
    background-color: var(--accent-text-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color var(--animation-time) var(--animation-function);   
}

.btn-modal:hover,
.btn-modal:focus {
    background-color:var(--active-color);
}

.modal-icon {
    position: absolute;
    top: 26px;
    left: 16px;
    width: 18px;
    height: 24px;
    transition: fill var(--animation-time) var(--animation-function);
}
.modal-icon-properties {
    width: 18px;
    height: 24px;
}

.modal-form-input:focus {
    border: 1px solid var(--accent-text-color);
}

.modal-form-input:focus + .modal-icon {
    fill: var(--accent-text-color);
}

.modal-icon:focus {
    fill: var(--accent-text-color);
}

.modal-form-field-comment {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 16px;
}

.modal-form-textarea::placeholder {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
}

.modal-form-textarea {
    height: 120px;
    resize: none;
    padding-top: 8px;
    padding-left: 16px;
    font-family: inherit;
    line-height: 1.15;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.modal-form-textarea:focus {
    border: 1px solid var(--accent-text-color);
}

.modal-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.modal-checkbox-input {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    appearance: none;
}

.modal-checkbox-icon {
    width: 16px;
    height: 16px;
    background-image: url(../img/default.svg);
}

.modal-checkbox-input:checked + .modal-checkbox-icon {
    background-image: url(../img/click.svg);
}

.modal-checkbox-text {
    display: block;
    margin-left: 8px;
    padding: 0;
    color: rgba(117, 117, 117, 1);
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
}

.modal-checkbox-text a {
    color: rgba(77, 90, 229, 1);
}